.page {
  color: #757575;
  background-color: #ffff;
}

.logo,
.references,
.link {
  color: #212121;
}
.references .link:hover {
  color: #2196f3;
}
.logo-part {
  color: #2196f3;
}
.list {
  list-style: none;
}

/* основний колір тексту #212121; */
/* додатковий колір підписів #757575; */
/* колір логотипу #2196F3; та колір при наведенні */
/* колір контактів почти та телефону в футері rgba(255, 255, 255, 0.6); */
/* колір адреси просто ффффф 
+колір аш1 та надпису на кнопці*/
/* колір хедера ффффф */
/* колір головної заливки + футер  #2F303A; */
/*  колір секції робіт та чеснот #E5E5E5; */
/* колір бекграунду працівників #F5F4FA */
