/* основний колір тексту #212121; */
/* додатковий колір підписів #757575; */
/* колір логотипу #2196F3; та колір при наведенні */
/* колір контактів почти та телефону в футері rgba(255, 255, 255, 0.6); */
/* колір адреси просто ффффф 
+колір аш1 та надпису на кнопці*/
/* колір хедера ффффф */
/* колір головної заливки + футер  #2F303A; */
/*  колір секції робіт та чеснот #E5E5E5; */
/* колір бекграунду працівників #F5F4FA */

:root {
  --header-text-color: #212121;
  --hover-text-color: #2196f3;
  --primary-text-color: #757575;
  --primary-white-color: #ffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/* Оформление хедера */
.logo,
.link {
  color: var(--header-text-color);
}
.references .link:hover,
.references .link:focus {
  color: var(--hover-text-color);
}
.contacts .link {
  color: currentColor;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--hover-text-color);
}
.logo-part {
  color: var(--hover-text-color);
}
.list {
  list-style: none;
}

/* Оформление героя */
.hero-title {
  color: var(--header-text-color);
}
/* Оформление секций  */
.section-title {
  color: var(--header-text-color);
}
/* Качества */
.qualities .title {
  color: var(--header-text-color);
}
/* Технологии */

/* Сотрудники */
.workers .title {
  color: var(--header-text-color);
}
